<tr class="parenttr transition zoom in">
    <!-- 內文 -->
    <td bgcolor="#f8f2ec" style="padding: 20px 30px 20px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <!-- 大標題 -->
            <tbody>
                <tr class="deleteicon">
                    <td class="text-right">
                        <i class="fas fa-window-close"></i>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="https://ia801409.us.archive.org/9/items/bbfs_20190821/Bbfs.gif" alt="motionmailapp.com" style="border:0;outline:none;text-decoration:none" class="CToWUd">
                    </td>
                </tr>
                <tr>
                    <td class="title_c" style="padding: 20px 0 20px 0;">
                        <div class="title_c_d d-flex justify-content-center align-items-center">
                            <div class="ui large action input w-100 px-2">
                                <input style="text-align:center" name="conten1_editer" type="text" placeholder="標題...">

                                <button class="ui inverted brown button">修改</button>
                            </div>
                        </div>
                        <i class="fas fa-pen"></i>
                        <h1 style="margin:0;padding:0;display:block;font-size:28px;font-style:normal;font-weight:bold;line-height:150%;letter-spacing:normal;text-align:center;color:#39393e!important">
                            <span name="title_1" style="font-size:20px;padding-bottom: 5px; border-bottom: 3px solid #39393e;font-family: '微軟正黑體';">｜引領時尚潮流的 • 熱銷商品｜</span>
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>

                                    <td style="position:relative;" width="260" valign="top">
                                        <div class="droppable"></div>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <img name="prdimg" src="https://ia601508.us.archive.org/11/items/62_20190821/4.jpg" alt="" width="100%" height="200" style="display: block; object-fit: cover;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 25px 0 25px 0;">
                                                        <p name="prdname" style="font-family: '微軟正黑體';text-align:center;line-height:100%;margin:1em 0;padding:0;color:#39393e;font-size:16px">率性休閒感標語袖反摺牛仔外套</p>
                                                        <div style="text-align:center;">
                                                            <a name="prdlink" href="https://localhost:44395/ProductDisplay/Product/GetProductDetail/4" style="font-size:15px;font-weight:500;font-family:'微軟正黑體';
                                                                                                                                                                color:#ffffff;
                                                                                                                                                                text-decoration:none;
                                                                                                                                                                border-radius:2px;
                                                                                                                                                                background-color:#b7ab8d;
                                                                                                                                                                border-top:5px solid #b7ab8d;
                                                                                                                                                                border-bottom:5px solid #b7ab8d;
                                                                                                                                                                border-right:20px solid #b7ab8d;
                                                                                                                                                                border-left:20px solid #b7ab8d;
                                                                                                                                                                display:inline-block;
                                                                                                                                                                word-wrap:break-word;" target="_blank">
                                                                立即前往▸
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>




                                </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:1px solid #9e9e9e;border-collapse:collapse">
                            <tbody>
                                <tr>
                                    <td>
                                        <span></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="bbtable" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="block-td" style="position:relative; padding:20px;" width="260">
                                        <div class="newblock text-black-50 d-flex justify-content-center align-items-center">拖曳區塊</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>