* {
    font-family: '微軟正黑體';
}


body {
    overflow-x: hidden;
}

.products_items a {
    color: #2e90b7;
}

#st2, #st3, #st4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner.slick-initialized.slick-slider.slick-dotted {
    position: relative;
    margin-bottom: 0px;
}

.banner-img {
    height: 70vh;
}

.st_title {
    padding-bottom:10px;
    padding-top:10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #534437;
}

    .st_title span {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 5px solid #534437;
        border-right: 5px solid #534437;
    }

.banner:before, .banner:after {
    position: absolute;
    width: 655px;
    background-color: white;
    opacity: 0.8;
    z-index: 1;
    top: 0;
    bottom: 0;
}

#st4 {
    background-color: #C3BAAC;
}

.banner::before {
    right: 0;
}

.banner::after {
    left: 0;
}

.nav-box {
    position: relative;
    height: 20vw;
    transition: all .3s;
    max-height: 300px;
    border: 2px solid white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0,.3);
}


    .nav-box a {
        color: white;
    }


    .nav-box:hover, .nav-box:hover a {
        background-position: bottom;
        color: #bcab8f;
    }

.atv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

.nav-box:nth-child(2) {
    border-left: none;
    border-right: none;
}

.imgbody {
    position: relative;
    width: 100%;
    height: 250px;
}

    .imgbody i.fa-heart {
        position: absolute;
        font-size: 2rem;
        transition: all .3s;
        right: 5px;
        bottom: 5px;
        z-index: 1;
        color: white;
        opacity: 0;
    }

        .imgbody i.fa-heart:hover {
            cursor: pointer;
            color: #e22f2f;
            bottom: 10px;
        }


        .imgbody i.fa-heart.active {
            animation-name: jumps;
            animation-duration: 0.3s;
        }

    .imgbody:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.30);
        opacity: 0;
        transition: all .3s;
    }

    .imgbody:hover:after, .imgbody:hover i {
        opacity: 1;
    }

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgcover {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

    .bgcover:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.57);
        z-index: -1;
    }

.card {
    border: none;
    border-radius: 0;
}


    .card a:hover {
        color: #bcab8f;
    }

.card-body.pca {
    padding: 0;
}

.card p {
    margin-bottom: 0;
}

.card .title {
    font-weight: 900;
    color: #39393e;
    margin: 0;
    margin-top: 6px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: normal;
    height: 30px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.4
}

.card .newflag {
    position: absolute;
    left: 0;
    top: 0;
    font-family: Arial;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 5px;
    background-color: #F44336;
    color: white;
}


.card .card-text {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.favBage {
    position: fixed;
    bottom: -50px;
    left: 0;
    right: 0;
    height: 50px;
    transition: all .3s;
    background-color: rgba(188, 171, 143, 0.70);
    z-index: 999;
}

    .favBage.active {
        bottom: 0;
    }

#st5 {
    background-color: rgb(51, 51, 51)
}

    #st5 .title {
        line-height: 60px;
    }

    #st5 .ig-img {
        cursor: pointer;
        position: relative;
        font-family: "Font Awesome 5 Brands";
    }

        #st5 .ig-img:hover:after {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2.5rem;
            content: '\f16d';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: all .3s;
            background-color: rgba(0, 0, 0, 0.50);
        }

    #st5 .footer {
        line-height: 60px;
    }

.instagram-body {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    animation: IGCoreModalShow .1s ease-out;
    z-index: 9999999;
}

    .instagram-body.active {
        display: flex;
    }

    .instagram-body .instagram-box {
        max-width: 700px;
        min-height: 30vh;
        background-color: white;
    }

.ig-box-head p {
    text-align: center;
}

    .ig-box-head p a {
        position: relative;
        padding: 5px;
        font-weight: bold;
        transition: all .3s;
        color: #333;
    }

        .ig-box-head p a:hover {
            color: white;
            background-color: #333;
        }

        .ig-box-head p a:after, .ig-box-head p a:before {
            position: absolute;
            content: '';
            bottom: 0;
            width: 0;
            height: 4px;
            transition: all .5s;
        }

        .ig-box-head p a:after {
            left: 50%;
        }

        .ig-box-head p a:before {
            right: 50%;
        }

        .ig-box-head p a:hover::after, .ig-box-head p a:hover::before {
            background-color: #3aa6d1;
            width: 50%;
        }

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.h-55 {
    height: 30rem !important;
}

.h-20 {
    height: 10rem !important;
}
.title .ig_logo {
    transition: all .3s;
}
.title .ig_logo:hover {
    transform: scale(1.2);
}
.instagram-box a.ig-link {
    color: #333;
    transition: all .3s;
    bottom: 0;
}
.atv-text{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-height:80%;
}

.instagram-box a.ig-link:hover {
    color: #58a6d2;
    bottom: 3px;
}

@keyframes IGCoreModalShow {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes jumps {
    0% {
        bottom: 10px;
    }

    50% {
        bottom: 20px;
    }

    100% {
        bottom: 10px;
    }
}

@media (max-width: 1280px) {
    .banner:before, .banner::after {
        width: 448px;
    }
}

@media (max-width: 768px) {
    .banner:before, .banner::after {
        display: none;
    }
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    -webkit-animation: arrow-movement 2s ease-in-out infinite;
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: -80px;
    width: 20px;
}
.arrow.active:before,
.arrow.active:after {
    background: #333;
}
.arrow:before {
    -webkit-transform: rotate(-45deg) translateX(-2%);
    transform: rotate(-45deg) translateX(-2%);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

.arrow:after {
    -webkit-transform: rotate(45deg) translateX(8%);
    transform: rotate(45deg) translateX(8%);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
    0% {
        opacity: 0;
        left: 90%;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        left: 90%;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
