<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/881297aa-8fe5-442e-9fc0-471b17a600a0/resourceGroups/ewing-group-東南亞/providers/Microsoft.Web/sites/msit12201</ResourceId>
    <ResourceGroup>ewing-group-東南亞</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://msit12201.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>msit12201.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>msit12201</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$msit12201</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FancyStoreEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mis12201.database.windows.net,1433;Initial Catalog=FancyStore;Persist Security Info=False;User ID=SQLadmin;Password=Ewing_123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:mis12201.database.windows.net,1433;Initial Catalog=FancyStore;Persist Security Info=False;User ID=SQLadmin;Password=Ewing_123;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FancyWeb.Models.FancyStoreEntities, FancyWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FancyStoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FancyWeb.csdl|res://*/Models.FancyWeb.ssdl|res://*/Models.FancyWeb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mis12201.database.windows.net,1433;Initial Catalog=FancyStore;Persist Security Info=False;User ID=SQLadmin;Password=Ewing_123;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>