
@{
    ViewBag.Title = "ChangPassword";
}
<style>
    .title_p {
        padding: 5px;
        border-left: 5px solid gray;
    }
</style>
<div class="text-left title_p mb-3 d-flex justify-content-start w-100">
    <h2 class="mb-0">修改密碼</h2>
</div>
<form id="ChangPW" class="flipInBottom h-75 w-75 p-2">
    <div>
        <div class="form-group">
            <label for="inputEmail4">電子信箱</label>
            <input type="email" class="form-control my-2" id="Email" name="Email" placeholder="電子信箱">
            <label for="inputPassword4">舊密碼</label>
            <input type="password" class="form-control my-2" id="OldPW" name="OldPW" placeholder="舊密碼">
            <label for="inputPassword4">新密碼</label>
            <input type="password" class="form-control my-2" id="NewPW" name="NewPW" placeholder="新密碼">
        </div>
    </div>
    <hr />
    <div id="chang_message" class="text-white p-2"></div>
    <div class="text-center mt-3">
        <button id="Changpwb" type="button" class="btn btn-danger rounded-0 w-25">修改</button>
        <button id="Demo" type="button" class="btn btn-info rounded-0 w-25">Demo</button>
    </div>
</form>
<script>
    $("#Changpwb").click(function () {
        $.post("@Url.Action("ChangPassword", "Detail")", $("#ChangPW").serialize(), function (data) {
              if (data == "success") {
                  $("#chang_message").addClass("bg-success flipInTop").html("修改成功")
                  setTimeout(function () {
                      $("#chang_message").removeClass("bg-success flipInTop").html("");
                      window.location = "@Url.Action("Index", "Login", new { area = "Members" })";
                  }, 1000);
              }
              else {
                  $("#chang_message").addClass("bg-danger hoverJiggle").html("修改失敗")
                  setTimeout(function () {
                      $("#chang_message").removeClass("bg-danger hoverJiggle").html("");
                  }, 1000);
              }
            });
    });
    $("#Demo").click(function () {
        $("#Email").val("Tombuyfancy@gmail.com")
        $("#OldPW").val("222")
    })
</script>