
body {
    font-family: "微軟正黑體";
}

/*外框*/
.custom-radio .custom-control-label::before {
    width: 20px;
    height: 20px;
    top: 1px;
    border-radius: 0;
}

/*離開圈圈*/
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: white;
    border-color: white;
    border-radius: 0;
}

/*白點和外圓*/
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    width: 20px;
    height: 20px;
    background-color: rgb(188, 171, 143);
    border-color: rgb(188, 171, 143);
    /*border-radius: 50%;*/
}

/*外圓*/
.custom-control-label::after {
    width: 2rem;
    height: 2rem;
    top: 1px;
}

/*選項內容*/
.custom-control-label span {
    font-size: 1.3rem;
    margin-left: 1.25rem;
    font-weight: normal
}

#display h6, #display a, .list-group-flush {
    font-size: 13px;
}

#ColorBox .box {
    position: relative;
    width: 1.7rem;
    height: 1.7rem;
    border: 2px solid rgb(233, 236, 239);
    display: inline-block;
    margin-right: 1.2rem;
    /*opacity: 0.2;*/
    top: 0.3rem;
    padding: 0.75rem;
}

    #ColorBox .box:hover {
        cursor: pointer;
        border-color: crimson;
    }

    #ColorBox .box.active {
        /*opacity: 1;*/
        border-color: rgb(188, 171, 143);
    }

.color {
    font-size: 5px;
}

#SizeBox label:hover {
    color: crimson;
    cursor: pointer;
}

#mainpic {
    width: auto;
    /*width: 100%;*/
    height: 690px;
    border: 0px;
}

#OrderQTY {
    width: 25rem;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 5rem;
    border-radius: 0.3rem;
    border-color: transparent;
    background-color: #dee2e6;
    padding: 0;
    height: 2.45rem;
}

.pinput {
    width: 80%;
    text-align: center;
}

.content {
    font-size: 30px;
}

.pbtn {
    width: 80%;
}

#route span a {
    color: black;
    font-weight: bold;
}

    #route span a:hover {
        color: red;
    }

.qbtn {
    position: absolute;
    text-align-last: center;
    border: none;
    background-color: #a2babb;
    height: 2.45rem;
    width: 4rem;
    color: white;
    line-height: 1rem;
    /*font-size: 23px;*/
    border-radius: 0;
}

    .qbtn.minus {
        top: 0;
        left: 5rem;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
    }

    .qbtn.add {
        top: 0;
        left: 26rem;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }

    .qbtn:hover {
        /*cursor: not-allowed*/
    }

    .qbtn.active:hover {
        cursor: pointer;
    }

#btncart {
    background-color: rgb(110, 127, 157);
}

    #btncart:enabled {
        transition: 0.5s
    }

#btnfav, #btncart {
    font: 15px bold;
    color: white;
    font-family: "微軟正黑體"
}

    #btnfav.active {
        color: palevioletred;
    }

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.card-body {
    padding: 10px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.i1 {
    flex: 0 0 25%;
    max-width: 20%;
}

.card.active {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.30) !important;
    background-color: rgba(188, 171, 143,0.7);
    transition: .5s;
}

a.card, #route span a {
    /*text-decoration: none;*/
    color: black;
}

.sale {
    position: absolute;
    background-color: crimson;
    top: 0;
    left: 1rem;
    width: 2rem;
    text-align: center;
    color: wheat;
    font-family: "微軟正黑體";
}

.alpha {
    opacity: 0.7;
}

.note {
    position: fixed;
    background-color: black;
    border-radius: 0.5rem;
    width: 30rem;
    height: 10rem;
    top: 30rem;
    left: 40%;
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

    .note.active {
        opacity: 0.5;
        z-index: 10;
    }

.col-md-2 a, #route span, #olist {
    font-size: 15px;
}

.tle1 {
    background-color: rgb(217, 207, 191);
    line-height: 3.5rem;
    padding-left: 1rem;
    margin-bottom: 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

#activity > a, #category > a {
    background-color: rgba(217, 207, 191,.2);
    border-radius: 0 !important;
}

    #activity > a:hover, #category > a:hover {
        background-color: rgba(217, 207, 191,.7);
        border-radius: 0 !important;
    }

#recommend .light3 {
    height: 23rem !important
}

#aname {
    right: 0;
    top: 0;
    color: wheat;
    background-color: crimson;
    font-size: 2rem;
    border-radius: 0.3rem;
}

#zoom {
    bottom: 2rem;
    position: absolute !important;
    right: 1rem;
    z-index: 10;
    background-color: black;
    border-radius: 0.3rem;
    color: ghostwhite;
}

@media(max-width: 500px) {
    .row .col-md-2 {
        display: none;
    }

    .cart .dropdown-menumy2:before {
        right: 17.5rem;
    }

    .cart .dropdown-menu-right {
        min-width: 360px !important;
        left: -8rem !important;
    }

    .caution .dropdown-menu-right {
        min-width: 360px !important;
        left: 2rem;
    }

    .caution .dropdown-menumy2:before {
        right: 27.5rem;
    }

    #mainpic {
        width: 100%;
        height: auto;
        padding-top: 1rem
    }

    .qbtn.minus {
        left: 4rem;
    }

    .qbtn.add {
        left: 18.5rem;
    }

    #OrderQTY {
        width: 16rem;
    }

    #zoom {
        right: 2rem;
        bottom: 1rem;
    }

    #zoom i{
        padding-left:0.5rem;
        padding-right:0.5rem;
    } 

    #light-slider {
        display: none;
    }

    #recommend .light3 {
        height: 15rem !important
    }

    .card-img-top {
        height: 20vw;
    }

    #display > .col-md-5 h3 {
        font-size: 20px;
    }

    table.w-75 {
        width: 100% !important;
    }

    #comment img {
        width: 7rem !important;
    }

    .sale {
        width: 1.5rem;
        font-size: 1rem;
    }

    .card-body {
        height: 7rem;
    }
}
