
body {
    font-family: "微軟正黑體";
}

#display h6, #display a, .list-group-flush {
    font-size: 13px;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.card-body {
    padding: 10px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.i1 {
    flex: 0 0 25%;
    max-width: 20%;
}

.card.active {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.30) !important;
    background-color: rgba(188, 171, 143,0.7);
    transition: .5s;
}

a.card {
    color: black;
}

#route span a {
    color: black;
    font-weight: bold;
}

    #route span a:hover {
        color: red;
    }

.sale {
    position: absolute;
    background-color: crimson;
    top: 0;
    left: 1rem;
    width: 2rem;
    text-align: center;
    color: wheat;
    font-family: "微軟正黑體";
}

li > a.active {
    background-color: rgba(188, 171, 143,0.7) !important;
}

.col-md-2 a, #route span, #olist {
    font-size: 17px;
}

.tle1 {
    background-color: rgb(217, 207, 191);
    line-height: 3.5rem;
    padding-left: 1rem;
    margin-bottom: 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.search-field {
    position: relative;
    width: 150px;
}

    .search-field select {
        opacity: 0;
        z-index: 10;
    }

    .search-field .select-block {
        position: absolute;
        background-color: white;
        cursor: pointer;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0
    }

        .search-field .select-block i {
            position: absolute;
            top: 10px;
            right: 10px;
        }

#activity > a, #category > a {
    background-color: rgba(217, 207, 191,.2);
    border-radius: 0 !important;
}

    #activity > a:hover, #category > a:hover {
        background-color: rgba(217, 207, 191,.7);
        border-radius: 0 !important;
    }

#pagelist li {
    cursor: pointer;
}

@media(max-width: 500px) {
    .row .col-md-2 {
        display: none;
    }

    .cart .dropdown-menumy2:before {
        right: 17.5rem;
    }

    .cart .dropdown-menu-right {
        min-width: 360px !important;
        left: -8rem !important;
    }

    .caution .dropdown-menu-right {
        min-width: 360px !important;
        left: 2rem;
    }

    .caution .dropdown-menumy2:before {
        right: 27.5rem;
    }
}
